<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>药品进销存管理系统后台登录</title>
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="__STATIC__/layuiadmin/style/login.css" media="all">

</head>

<body>
    <div class="layui-box">
        <div class="lay-form-box">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">

                    <li>注册</li>
                </ul>
                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                            for="LAY-user-login-username"></label>
                        <input type="text" name="name" id="LAY-user-login-username" lay-verify="required"
                            placeholder="账号" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                            for="LAY-user-login-password"></label>
                        <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                            placeholder="密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                            for="LAY-user-login-password"></label>
                        <input type="password" name="password_two" id="LAY-user-login-password" lay-verify="required"
                            placeholder="确认密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                            for="LAY-user-login-password"></label>
                        <input type="text" name="email" id="LAY-user-login-password" lay-verify="required"
                            placeholder="电子邮件" class="layui-input">
                    </div>
                    <div class="layui-form-item">

                        <!-- <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                            for="LAY-user-login-password"></label> -->
                        <select name="role" lay-verify="required" id="LAY-user-login-role" style="width:'200px'"
                            required lay-verify="required">
                            <option value="">请选择权限</option>
                            {foreach name="list" item="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/foreach}
                        </select>

                    </div>

                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">注
                            册</button>
                          
                    </div>
                    <div class="layui-trans layui-form-item layadmin-user-login-other">
                        <a href="login.html" class="layadmin-user-jump-change layadmin-link">返回登录页</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script src="__STATIC__/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '__STATIC__/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'user'], function () {
            var $ = layui.$,
                setter = layui.setter,
                admin = layui.admin,
                form = layui.form;

            form.render();

            //提交
            form.on('submit(LAY-user-login-submit)', function (obj) {
                //请求登入接口
                $.ajax({
                    url: "{:url('login/reg')}",
                    type: 'post',
                    dataType: 'json',
                    data: obj.field,
                    success: function (info) {
                        if (info.status == -1) {
                            layer.msg(info.msg, {
                                icon: 2,
                                time: 2000
                            });
                        } else if (info.status == 1) {

                            layer.msg(info.msg, {
                                icon: 1,
                                time: 3000,
                                end: function () {

                                    var backurl =
                                        "{:url('login/login')}";
                                    location.href = backurl;
                                   
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
</body>

</html>